/dist
out/
/tmp
workspace.xml
.gradle/
build/
!**/src/**/build
*.iml
!**/test/**/build
.idea/modules.xml
.idea/libraries/Gradle*.xml
.idea/modules
.idea/modules.xml
.idea/gradle.xml
.idea/compiler.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/.name
